<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
    <title>About Us | Car Rental</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
          

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link rel="stylesheet" href="" th:href="@{/css/aboutUsStyle.css}"/>
	<link rel="stylesheet" href="" th:href="@{/css/footer.css}" />
  </head>
  <body>
    <div class="containerabout">
      <div class="header">
        <h1>About Us</h1>
      </div>

      <div class="content">
        <div class="row">
          <div class="col-md-6 text-center">
            <h1 class="mtxt">Who We Are</h1>
            <p>
              We are a car rental company that provides quality vehicles to
              customers at affordable prices. We have been in the business for
              over 10 years and have a reputation for excellent customer
              service.
            </p>
            <h1 class="mtxt">Our Mission</h1>
            <p>
              Our mission is to provide our customers with reliable, safe, and
              affordable transportation. We strive to exceed our customers'
              expectations by offering exceptional customer service and
              maintaining a fleet of well-maintained vehicles.
            </p>
          </div>
          <div class="col-md-6 jd-flex justify-content-center">
            <img
              src="https://images.unsplash.com/photo-1531545514256-b1400bc00f31?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80"
              alt="Car Rental Image"
              class="img-fluid"
            />
          </div>
        </div>
      </div>


      <div>
<footer class="footer">
          <div class="">
            <h2 class="text1">
              Subscribe to our Future of Work Newsletter and learn more <br />
              about modern digital workplaces
            </h2>

            <div class="subemail">
              <input class="emailbox" type="text" placeholder="Your Email" />
              <button class="subbtn" type="button">Subscribe</button>
            </div>
          </div>

          <div class="row justify-content-evenly">
            <div
              class="col-lg-2 col-md-4 col-sm-6 d-flex justify-content-center"
            >
              <div class="single-box">
                <h4>DOMO</h4>
                <ul class="list-unstyled list">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">How are we diffrent?</a></li>
                  <li><a href="#">Pricing</a></li>
                  <li><a href="#">First of its kind Marketplace</a></li>
                  <li><a href="#">Become a Partner</a></li>
                  <li><a href="#">domo Mobile APPs</a></li>
                </ul>
              </div>
            </div>
            <div
              class="col-lg-2 col-md-4 col-sm-6 d-flex justify-content-center"
            >
              <div class="single-box">
                <h4>PRODUCTS</h4>
                <ul class="list-unstyled list">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Cloud Hosting</a></li>
                  <li><a href="#">CMS Hosting</a></li>
                  <li><a href="#">WordPress Hosting</a></li>
                  <li><a href="#">Email Hosting</a></li>
                  <li><a href="#">VPS Hosting</a></li>
                </ul>
              </div>
            </div>
            <div
              class="col-lg-2 col-md-4 col-sm-6 d-flex justify-content-center"
            >
              <div class="single-box">
                <h4>RESOURCE</h4>
                <ul class="list-unstyled list">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Cloud Hosting</a></li>
                  <li><a href="#">CMS Hosting</a></li>
                  <li><a href="#">WordPress Hosting</a></li>
                  <li><a href="#">Email Hosting</a></li>
                  <li><a href="#">VPS Hosting</a></li>
                </ul>
              </div>
            </div>
            <div
              class="col-lg-2 col-md-4 col-sm-6 d-flex justify-content-center"
            >
              <div class="single-box">
                <h4>SUPPORT</h4>
                <ul class="list-unstyled list">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Cloud Hosting</a></li>
                  <li><a href="#">CMS Hosting</a></li>
                  <li><a href="#">WordPress Hosting</a></li>
                  <li><a href="#">Email Hosting</a></li>
                  <li><a href="#">VPS Hosting</a></li>
                </ul>
              </div>
            </div>
            <div
              class="col-lg-2 col-md-4 col-sm-6 d-flex justify-content-center"
            >
              <div class="single-box">
                <h4>CONTACT</h4>
                <ul class="list-unstyled list">
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Cloud Hosting</a></li>
                  <li><a href="#">CMS Hosting</a></li>
                  <li><a href="#">WordPress Hosting</a></li>
                  <li><a href="#">Email Hosting</a></li>
                  <li><a href="#">VPS Hosting</a></li>
                </ul>
              </div>
            </div>
          </div>

          <hr />

          <div class="footer-bar">
            <div class="container">
              <div class="row d-flex-justify-content-sm-center">
                <div
                  class="col-md-6 col-sm-6 justify-content-sm-between d-flex-justify-content-start"
                >
                  <p class="footer-text">© 2023 All Rights Reserved</p>
                </div>
                <div
                  class="col-md-6 col-sm-6 text-center text-md-right d-flex justify-content-end"
                >
                  <div class="footer-social justify-content-sm-between list">
                    <a href="#"><i class="fa-brands fa-twitter fa-2x"></i></a>
                    <a href="#"><i class="fa-brands fa-facebook fa-2x"></i></a>
                    <a href="#"><i class="fa-brands fa-linkedin fa-2x"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>

    </div>
  </body>
</html>
